<div class="flight">
  <div class="flight__itinerary">
    <div class="flight__description">
      <div class="flight__recomendation">
        <img src="/assets/images/star-recomendation-icon.png" alt="" class="flight__recomendation-icon">
        <h3 class="flight__recomendation-message"> Viaja más cómodo en Premium Económica </h3>
      </div>
      <div class="flight__promo">
        <i class="fa fa-credit-card-alt flight__promo-icon"></i>
        <span class="flight__promo-message">
          Precio total <b class="flight__promo-highlight">$ 21.863,99</b>, 
          pagando con <b class="flight__promo-highlight">Santander Río</b>, 
          hasta <b class="flight__promo-highlight"> 6 cuotas sin interés </b>
        </span>
      </div>
      <table class="flight__detail">
        <thead class="flight__header">
          <tr class="flight__header-row">
            <th class="flight__header-cell flight__plane-date">
              <div class="flight__plane">
                <img src="/assets/images/plane-icon-outbound.png" alt="" class="flight__plane-icon">
                <span class="flight__plane-label"> IDA </span>
              </div>
              <span class="flight__date">
                <b class="flight__day">Mié 25</b>
                Ago. 2016
              </span>
            </th>
            <th class="flight__header-cell flight__header-cell--shrink flight__airport">
              <h3 class="flight__airport-code">GIG</h3>
              <span class="flight__airport-city">Rio de Janeiro</span>
            </th>
            <th class="flight__header-cell flight__header-cell--expand flight__airport">
              <h3 class="flight__airport-code">REC</h3>
              <span class="flight__airport-city">Recife</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="flight__airline-option">
            <td class="flight__airline">
              <input type="radio" name="flight__outbound-airline" id="flight__airline_1" class="flight__airline-choice control-radio">

              <label for="flight__airline_1" class="flight__airline-label control-label">
                <img src="/assets/images/avianca-logo.png" alt="" class="flight__airline-logo">
                <span class="flight__airline-name">Avianca</span>
              </label>
            </td>
            <td class="flight__departure">
              <h3 class="flight__hour">20:45</h3>
              <span class="flight__stops">
                <span class="flight__stops-label">Directo</span>
                <span class="flight__duration-label">2h 50m</span>
              </span>
            </td>
            <td class="flight__arrival">
              <h3 class="flight__arrival-hour flight__hour">
                23:35
              </h3>
              <h4 class="flight__duration">
                <span class="flight__duration-label"> 2h 50m </span>
                <i class="fa fa-clock-o flight__duration-icon"></i>
              </h4>
              <a href="" class="flight__airline-detail-action">
                <span class="flight__airline-detail-action-label">Detalle</span>
                <i class="fa flight__airline-detail-action-icon"></i>
              </a>
            </td>
          </tr>
  
          <tr class="flight__airline-option">
            <td class="flight__airline">
              <input type="radio" name="flight__outbound-airline" id="flight__airline_2" class="flight__airline-choice control-radio">

              <label for="flight__airline_2" class="flight__airline-label control-label">
                <img src="/assets/images/avianca-logo.png" alt="" class="flight__airline-logo">
                <span class="flight__airline-name">Gol</span>
              </label>
            </td>
            <td class="flight__departure">
              <h3 class="flight__hour">22:05</h3>
              <span class="flight__stops">
                <span class="flight__stops-label">Directo</span>
                <span class="flight__duration-label">2h 45m</span>
              </span>
            </td>
            <td class="flight__arrival">
              <h3 class="flight__arrival-hour flight__hour">
                00:50
                <span class="flight__arrives-in-days">+1</span>
              </h3>
              <h4 class="flight__duration">2h 45m</h4>
              <a href="" class="flight__airline-detail-action">
                <span class="flight__airline-detail-action-label">Detalle</span>
                <i class="fa flight__airline-detail-action-icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
  
      <table class="flight__detail">
        <thead class="flight__header">
          <tr class="flight__header-row">
            <th class="flight__header-cell flight__plane-date">
              <div class="flight__plane">
                <img src="/assets/images/plane-icon-arrival.png" alt="" class="flight__plane-icon">
                <span class="flight__plane-label"> VUELTA </span>
              </div>
              <span class="flight__date">
                <b class="flight__day">Jue 31</b>
                Sep. 2016
              </span>
            </th>
            <th class="flight__header-cell  flight__header-cell--shrink flight__airport">
              <h3 class="flight__airport-code">REC</h3>
              <span class="flight__airport-city">Recife</span>
            </th>
            <th class="flight__header-cell flight__header-cell--expand flight__airport">
              <h3 class="flight__airport-code">GIG</h3>
              <span class="flight__airport-city">Rio de Janeiro</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="flight__airline-option">
            <td class="flight__airline">
              <input type="radio" name="flight__arrival-airline" id="flight__airline_3" class="flight__airline-choice control-radio">
              
              <label for="flight__airline_3" class="flight__airline-label control-label">
                <img src="/assets/images/avianca-logo.png" alt="" class="flight__airline-logo">
                <span class="flight__airline-name">Avianca</span>
              </label>
            </td>
            <td class="flight__departure">
              <h3 class="flight__hour">03:00</h3>
              <span class="flight__stops flight__stops--with-stops">
                <span class="flight__stops-label">1 escala</span>
                <span class="flight__duration-label">5h 55m</span>
              </span>
            </td>
            <td class="flight__arrival">
              <h3 class="flight__arrival-hour flight__hour">
                23:35
              </h3>
              <h4 class="flight__duration">5h 55m</h4>
              <a href="" class="flight__airline-detail-action">
                <span class="flight__airline-detail-action-label">Detalle</span>
                <i class="fa flight__airline-detail-action-icon"></i>
              </a>
            </td>
          </tr>
      
          <tr class="flight__airline-option">
            <td class="flight__airline">
              <input type="radio" name="flight__arrival-airline" id="flight__airline_4" class="flight__airline-choice control-radio">
              
              <label for="flight__airline_4" class="flight__airline-label control-label">
                <img src="/assets/images/avianca-logo.png" alt="" class="flight__airline-logo">
                <span class="flight__airline-name">Avianca</span>
              </label>
            </td>
            <td class="flight__departure">
              <h3 class="flight__hour">00:00</h3>
              <span class="flight__stops">
                <span class="flight__stops-label">Directo</span>
                <span class="flight__duration-label">1h 55m</span>
              </span>
            </td>
            <td class="flight__arrival">
              <h3 class="flight__arrival-hour flight__hour">
                00:00
                <span class="flight__arrives-in-days">+1</span>
              </h3>
              <h4 class="flight__duration">1h 55m</h4>
              <a href="" class="flight__airline-detail-action">
                <span class="flight__airline-detail-action-label">Detalle</span>
                <i class="fa flight__airline-detail-action-icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="flight__footer">
        <span class="flight__footer-promo">¡Puedes sumar kilometros LANPass! Tarifa válida para residentes argentinos.</span>
        <span class="flight__remaining-seats badge badge--alert">¡Últimos 4 lugares!</span>
      </div>
    </div>
    <div class="flight__fare fare">
      <div class="flight__fare-description fare__description">
        <div class="fare__heading-discount">
          <div class="flight__fare-heading fare__heading">
            <p class="fare__title">Precio por adulto</p>
            <span class="fare__subtitle">Impuestos no incluidos</span>
          </div>
          <span class="flight__fare-discount-label fare__discount-label">
             Ahorra <span class="fare__discount"> $ 1.833,99 </span>
          </span>
        </div>
        <div class="flight__fare-price fare__price">
          <span class="flight__fare-original-price fare__original-price">
            <span class="fare__original-price-text">$ 2.129,99</span>
          </span>
          <h1 class="flight__fare-final-price fare__final-price"> $21.863,99 </h1>
        </div>
        <a href="" class="flight__fare-buy fare__buy button button--primary">
          Comprar
        </a>
      </div>
      <div class="flight__fare-footer fare__footer">
        <i class="fa fa-credit-card-alt"></i>
        <span class="fare__payment-option">
          ¡Hasta en 18 cuotas sin interes!
        </span>
        <a href="" class="fare__payment-cards-adhered">
          Ver tarjetas adheridas
        </a>
      </div>
    </div>
  </div>
  <a href="" class="flight__favorite">
    <i class="fa fa-heart-o"></i>
  </a>

  <div class="footer-promo">
    <img src="/assets/images/hotel-promo-icon.png" alt="" class="footer-promo__image">
    <p class="footer-promo__message">
      <span class="footer-promo__primary-text"> Ahorrá <span class="footer-promo__price">$689</span> </span>
      <span class="footer-promo__secondary-text footer-promo__secondary-text@sm"> Comprando vuelo + hotel.</span>
      <span class="footer-promo__secondary-text footer-promo__secondary-text@lg"> agregando un hotel.</span>
    </p>
    <a href="" class="footer-promo__buy-button button button--secondary-outline">
      <span class="footer-promo__buy-button-label">Comprar vuelo + hotel</span>
      <i class="fa fa-chevron-right footer-promo__buy-button-icon"></i>
    </a>
  </div>
</div>