<div class="hotel">
  <div class="hotel__carrousel-container">
    <div class="hotel__carrousel img-responsive">
      <img src="/assets/images/fasano.jpg" alt="hotel image" class="hotel__image img-responsive__image">
      <a href="" class="hotel__carrousel-handle hotel__carrousel-handle--previous">
        <i class="fa fa-chevron-left"></i>
      </a>
      <a href="" class="hotel__carrousel-handle hotel__carrousel-handle--next">
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>
    <span class="hotel__recommendation-label" *ngIf="hotel.recommended">Hotel recomendado</span>
  </div>
  <div class="hotel__description">
    <div class="hotel__title">
      <span class="hotel__rating hotel__rating--good">{{hotel.rating}}</span>
      <h2 class="hotel__name">{{hotel.name}}</h2>
    </div>

    <div class="hotel__detail">
      <ul class="hotel__stars">
        <li class="hotel__star" *ngFor="let star of (hotel.stars | numberToIterable)"><i class="fa fa-star"></i></li>
      </ul>
      <span class="hotel__distance" *ngIf="hotel.distance">{{hotel.distance}}</span>
      <a href="" class="hotel__show-map">Ver mapa</a>
    </div>

    <ul class="hotel__amenities">
      <li class="hotel__amenity" *ngFor="let amenity of hotel.amenities">
        <img src="/assets/images/{{amenity}}-icon.png" [attr.alt]="amenity">
      </li>
    </ul>

    <ul class="hotel__features">
      <li class="hotel__feature badge" *ngFor="let feature of hotel.features">{{feature}}</li>
      <li class="hotel__feature hotel__feature--alert badge">¡Últimas 4 habitaciones!</li>
    </ul>
  </div>

  <div class="hotel__fare fare">
    <div class="fare__description">
      <div class="fare__heading-discount">
        <div class="fare__heading">
          <p class="fare__title">Precio por noche desde</p>
          <span class="fare__subtitle">A incluir impuestos y tasas</span>
        </div>
        <span class="fare__discount-label" *ngIf="hotel.discount">
          <img src="/assets/images/saving-icon.png" alt="" class="fare__discount-icon">
          <span class="fare__discount"> -{{hotel.discount}}%</span>
        </span>
      </div>
      <div class="fare__price">
        <span class="fare__original-price" *ngIf="hotel.discount">
          <span class="fare__original-price-text">$ {{hotel.price}}</span>
        </span>
        <h1 class="fare__final-price">$ {{ hotel.price | applyPriceDiscount:hotel.discount }}</h1>
      </div>
      <a href="" class="fare__buy button button--primary">
        Ver Detalle
      </a>
    </div>
    <div class="fare__footer">
      <i class="fa fa-credit-card-alt"></i>
      <span class="fare__payment-option">
        ¡Paga al hotel o hasta en 18 cuotas!
      </span>
    </div>
  </div>
  <a href="" class="hotel__favorite">
    <i class="fa fa-heart-o"></i>
  </a>
</div>