.button {
  border-radius: 5px;
  padding: 0.5rem 1rem;

  &--primary {
    background-color: $challenge_red;
    color: white;
    &:hover{
      color:white;
    }
  }

  &--secondary {
    color: white;
    background-color: $challenge_blue-light;
  }

  &--secondary-outline {
    color: $challenge_blue-light;
    border:1px solid $challenge_blue-light;
    background-color: white;
  }
}