$fare-bg-color:#FEF071;
$fare__footer-bg-color: #FFF59C;
$fare__discount-bg-color: #3275de;

.fare {
  display:flex;
  flex-direction: column;
  background-color: $fare-bg-color;
  justify-content: space-between;
  &__description {
    padding: 1.5rem;
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }

  &__heading-discount{
    display:flex;
    justify-content:space-between;
  }

  &__title {
    color: $challenge_gray-dark;
    margin-bottom:0;
    display: block;
    line-height: 1;
  }
  &__subtitle {
    display: block;
    color: $challenge_gray-light;
  }

  &__discount-label {
    background-color: $fare__discount-bg-color;
    padding:0.5rem;
    color:white;
    font-weight: bold;
    display: inline-block;
  }
  &__price {
    float: right;
    margin-top:1rem;
  }
  &__original-price, &__final-price {
    text-align:right;
    display: block;
  }
  &__original-price {
    line-height: 1;
    color: $challenge_red;
    text-decoration: line-through;
    font-size: 0.75rem;
    &-text {
      color: $challenge_gray-light;
    }
  }
  &__final-price {
    font-weight: normal;
    margin-bottom:0;
    color: $challenge_gray;
    line-height: 1;
    font-size: 1.5rem;
  }

  &__buy {
    display:none;
  }

  &__heading, &__footer {
    font-size: 0.75rem;
  }

  &__footer {
    color: $challenge_gray;
    background-color: $fare__footer-bg-color;
    text-align: center;
    padding:1rem;
  }
}

@media screen and (min-width: map-get($challenge_breakpoints, 'lg')) {
  .fare {
    flex:0 0 230px;
    text-align: center;

    &__description {
      padding-top: 0.5rem;
      padding-bottom: 0;
    }
    &__heading-discount {
      flex-direction: column-reverse;
      margin-bottom:0.5rem;
    }

    &__discount-label {
      align-self:center;
      margin-bottom:0.5rem;
      padding:0.25rem 1rem;
    }

    &__price {
      float: none;
      margin-top:0;
    }
    &__original-price, &__final-price {
      text-align:center;
    }
    &__original-price {
      margin-bottom:0.5rem;
    }

    &__buy {
      display:inline-block;
      margin-top:0.5rem;
      margin-bottom:0.5rem;
    }

    &__footer {
      padding-top:0.5rem;
      padding-bottom:0.5rem;
    }
  }
}