$flight__secondary-color: #959595;
$flight__plane-bg-color: #AAAAAA;
$flight__stops-color: #14ac33;

.flight {
  margin: 0.5rem;
  display:flex;
  flex-direction: column;
  position:relative;
  
  &__itinerary{
    display:flex;
    flex-direction: column-reverse;
  }

  &__recomendation {
    display: none;
  }

  &__promo {
    padding: 0.5rem 1rem;
    background-color: $challenge_green;
    color:white;
    display:flex;
    margin-bottom:0.5rem;
    &-icon {
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-message {
      font-size: 0.75rem;
    }
  }

  &__detail {
    width:100%;
    border-bottom: 1px solid $challenge_gray-lighter;
  }

  &__header {
    &-row {
      background-color: $challenge_gray-lighter;
    }
    &-cell {
      font-weight: normal;
      vertical-align: top;
      line-height: 1;
      white-space:nowrap;
      &--expand {
        max-width:100%;
      }
      &--shrink {
        white-space:nowrap;
        width:1%;
      }
    }
  }

  &__plane {
    background-color: $flight__plane-bg-color;
    color:white;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    margin-right: 0.75rem;
    &-date {
      width: 3.75rem;
    }
    &-label {
      display: none;
    }
    &-icon {
      margin: 0.25rem 0.5rem;
      width: 1.25rem;
      height: 1.25rem;
    }
  }
  &__date {
    display: none;
  }

  &__airport {
    padding-bottom: 0.5rem;

    &-code{
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 1;
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
    &-city {
      font-size: 0.75rem;
      color: $flight__secondary-color;
    }
  }

  /* &__airline,  */&__departure, &__arrival {
    padding: 0.5rem;
  }

  &__airline {
    padding: 0.3rem;
    &-logo {
      max-height: 1.5rem;
    }
    &-name{
      display: none;
    }

    &-choice {
      margin-right:0.5rem;
    }

    &-detail-action {
      white-space:nowrap;
      &-label {
        display: none;
      }
      &-icon:before{
        content: "\f129";
      }
    }
  }

  &__departure {
    white-space:nowrap;
    vertical-align: super;
  }

  &__hour, &__stops, &__duration {
    display: inline;
  }

  &__hour, &__duration {
    color: $challenge_gray;
    margin-bottom:0;
    margin-right: 1rem;
    font-size: 1rem;
  }
  &__duration {
    display:none;
  }

  &__stops {
    padding: 0px 2px 2px 2px;
    color: $flight__stops-color;
    border-bottom: 2px solid $flight__stops-color;
    vertical-align: text-bottom;
    position:relative;
    &-label{
      display: none;
    }

    > .flight__duration-label {
      color: $flight__secondary-color;
      font-size: 0.8rem;
    }
    &--with-stops {
      color: $challenge_blue-light;
      border-bottom-color: $challenge_blue-light;
      &:after {
        $dot_size: 0.75rem;

        position:absolute;
        top: calc(50% + #{$dot_size/2});
        left: calc(50% - #{$dot_size/2});
        height:$dot_size;
        width: $dot_size;
        content: "";
        border-radius: 100%;
        border: 2px solid $challenge_blue-light;
        background: white;
      }
    }
  }

  &__arrival {
    display:flex;
    justify-content:space-between;
    align-items: baseline;
  }

  &__arrives-in-days {
    display:inline-block;
    font-weight: normal;
    color:$challenge_red;
    vertical-align: super;
    font-size: 0.75rem;
  }
  &__footer{
    padding: 1rem 0;
  }
  &__footer-promo {
    margin-bottom: 1rem;
    color: $flight__secondary-color;
    display:block;
  }
  &__remaining-seats {
    background-color: $challenge_gray-lighter;
  }

  &__favorite {
    position: absolute;
    color: $challenge_red;
    top: 3.5rem;
    left: 0.5rem;
  }


  &__fare {
    &-description {
      padding:1.5rem 1.5rem 1.5rem 2rem;
    }

    &-discount-label {
      display:none;
    }

    &-price {
      float: left;
      margin-top:0.5rem;
    }
    &-original-price, &-final-price {
      text-align: left;
    }
    &-buy {
      display: inline-block;
      float: right;
    }

    &-footer{
      display: none;
    }
  }
}

@media screen and (min-width: map-get($challenge_breakpoints, 'lg')) {
  .flight {
    flex-direction: column;

    &__itinerary{
      flex-direction: row;
    }
    &__description {
      margin-right: 0.5rem;
      flex: 1;
    }
    &__recomendation {
      display: flex;
      align-items: center;
      font-weight: normal;
      padding: 1rem 0.5rem;

      &-icon {
        margin-right: 0.5rem;
      }
      &-message {
        margin-bottom: 0;
        font-weight: normal;
      }
    }

    &__plane{
      margin-right: 3rem;
      &-date {
        width: 12rem;
      }
      &-label {
        display: inline;
        vertical-align: middle;
      }
      &-icon {
        width: 1rem;
        height: 1rem;
      }
    }

    &__date {
      display: block;
      font-size: 0.75rem;
      margin:0.5rem;
    }

    &__airline {
      padding: 0.5rem;
      &-logo {
        margin-right: 0.5em;
      }
      &-name {
        display:inline;
        color: $flight__secondary-color;
        font-size: 0.875rem;
      }
      &-detail-action {
        font-size: 0.75rem;
        &-label {
          margin-right:0.5rem;
          display: inline;
        }
        &-icon:before{
          content: "\f078";
        }
      }
    }

    &__stops {
      &-label{
        display: inline;
        font-size: 0.875rem;
      }

      > .flight__duration-label {
        display: none;
      }
    }

    &__arrival{
      justify-content:flex-start;
    }

    &__hour, &__duration {
      margin-right: 2rem;
    }    
  
    &__arrival-hour {
      flex: 0 0 6.25rem;
    }

    &__duration {
      flex: 1;
      display:inline-block;
      font-weight: normal;
      &-label {
        font-weight: bold;
      }
      &-icon {
        color: $challenge_green;
      }
    }
    &__airline-detail-action {
      flex:0;
    }

    &__footer{
      padding: 2rem 0;
    }

    &__favorite {
      color: $challenge_gray-dark;
      right: 1rem;
      top: 1rem;
      left: auto;
    }

    &__fare{
      justify-content: flex-start;

      &-discount-label {
        display:inline-block;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: $challenge_green;
      }

      &-price {
        float:none;
      }
      &-original-price, &-final-price {
        text-align: center;
      }
      &-buy {
        float: none;
        margin-top: 2rem;
      }

      &-footer{
        display: block;
      }
    }
  }
}