.footer-promo {
  display:flex;
  justify-content:flex-start;
  align-items: center;
  padding:1rem;
  border-top: 1px solid $challenge_gray-lighter;

  &__image {
    width: 6rem;
  }
  &__price {
    font-weight: bold;
    color: $challenge_green;
    font-size: 1.25rem;
  }
  &__message {
    display:flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 1rem;
  }

  &__secondary-text {
    &\@sm {
      font-weight: bold;
    }
    &\@lg {
      display:none;
    }
  }

  &__primary-text {
    line-height: 1;
  }
  &__buy-button {
    margin-left: auto;
    border: 1px solid transparent;
    &-label {
      display: none;
    }
    &-icon{
      color: $challenge_gray;
    }
  }
}

@media screen and (min-width: map-get($challenge_breakpoints, 'lg')) {
  .footer-promo {
    &__image {
      padding-right: 1.5rem;
      border-right: 1px solid $challenge_gray-lighter;
      width: 8.75rem;
    }
    &__message {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &__secondary-text {
      &\@sm {
        display:none;
      }
      &\@lg {
        font-weight: normal;
        display: inline;
      }
    }
    &__price {
      color: inherit;
      font-size: 1rem;
      margin-right: 0.25rem;
    }
    &__buy-button {
      border:1px solid $challenge_blue-light;

      &-label {
        display: inline;
      }
      &-icon{
        display: none;
      }
    }
  }
}