.control-radio {
  width: 0px;
  height: 0px;
  opacity: 0;

  + .control-label {
    line-height: 1rem;
    padding-left: 0.9rem;
    position: relative;
    display: inline-block;
    font-weight: normal;

    &:before, &:after {
      content: "";
      display: inline-block;
      position: absolute;
      border-radius: 50%;
    }

    &:before {
      left: -0.5rem;
      top: 0.25rem;
      background-color: white;
      border: 1px solid $challenge_gray-light;
      width: 1rem;
      height: 1rem;
    }

    &:after {
      top: 9px;
      left: 5px;
      width: 6px;
      height: 6px;
    }
  }

  &:checked + .control-label:before {
    background-color: $challenge_blue;
    border: none;
  }
  &:checked + .control-label:after {
    background-color: white;
  }
}
