$hotel__recommendation-bg-color: #0852C9;
$hotel__distance-color:#909090;
$hotel__star-color:#FFD24E;
$hotel__amenity-bg-color:#EEEEEE;
$hotel__feature-label-border-color:#DDDDDD;
$hotel__feature-label-color:#00B11E;

.hotel {
  display: flex;
  flex-direction:column;
  margin: 0.5rem;
  position:relative;

  &__carrousel-container, &__carrousel {
    position:relative;
  }

  &__carrousel-handle {
    display:none;
  }

  &__recommendation-label {
    position: absolute;
    background-color: $hotel__recommendation-bg-color;
    padding: 0.5rem 0.25rem;
    color: white;
    font-size: 1.4rem;
    line-height: 1;
    bottom: 0.5rem;
    left: 0.5rem;
  }

  &__description {
    display: flex;
    flex-direction:column;
    padding:1.5rem 0.5rem;
    min-width: 0;
  }

  &__title {
    display:flex;
    flex-direction: row;
    align-items:center;
  }
  &__rating {
    color: white;
    padding: 0.25rem;
    display: inline-block;
    margin-right: 0.5rem;
    &--good {
      background-color: $challenge_green-light;
    }
  }
  &__name {
    color: $challenge_gray;
    display: inline-block;
    margin-bottom:0;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__detail {
    display:flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }

  &__stars, &__amenities, &__features {
    margin: 0;
    padding-left:0;
    list-style-type: none;
  }
  &__star, &__amenity, &__feature {
    display:inline-block;
    font-size: 0.875rem;
  }
  &__star {
    margin-right: 0.5rem;
    color:$hotel__star-color;
  }
  &__distance {
    color: $hotel__distance-color;
    margin-right: 0.5rem;
  }
  &__show-map {
    display:none;
  }
  &__amenities {
    margin-bottom: 0.75rem;
  }

  &__amenity {
    background-color:$hotel__amenity-bg-color;
    margin-right: 1rem;
    padding: 0.25rem;
    border-radius: 50%;
    font-size:1.25rem;
    width: 2.5rem;
    text-align: center;
  }

  &__feature {
    border: 1px solid $hotel__feature-label-border-color;
    color:$hotel__feature-label-color;

    &--alert {
      color:$challenge_red;
    }
  }

  &__favorite {
    position: absolute;
    top:4rem;
    right:1rem;
    font-size:2rem;
    color:white;
  }
}

@media screen and (min-width: map-get($challenge_breakpoints, 'lg')) {
  .hotel {
    flex-direction:row;

    &__carrousel-container {
      flex: 0 0 20rem;
    }
    &__image {
      max-height: 17rem;
    }
    &__carrousel-handle {
      $height: 4.375rem;

      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255,255,255,0.5);
      width: 2.5rem;
      height: $height;
      margin-top:-$height/2;
      text-align: center;
      top: 50%;
      color:black;
      font-size: 2rem;
      text-decoration: none;
      &--next {
        right: 0;
      }
    }

    &__recommendation-label {
      top: 0.5rem;
      bottom: auto;
    }

    &__description {
      flex: 1 1 27rem;
      padding:1.5rem 1rem;
    }

    &__detail, &__amenities {
      margin-bottom:2rem;
    }
    &__show-map {
      display:block;
    }

    &__favorite {
      top: 1rem;
      right: 1rem;
      font-size:1rem;
    }
  }
}
