$challenge_green: #00AF45;
$challenge_green-light: #00BA52;
$challenge_red: #F70000;
$challenge_blue: #2C74DA;
$challenge_blue-light: #00bae5;;
$challenge_gray-dark:#444444;
$challenge_gray:#585858;
$challenge_gray-light:#909090;
$challenge_gray-lighter: #F5F5F5;

$challenge_breakpoints: (
  sm: 320px,
  lg: 1024px
);